Space Requirements: 1000 cubic ft (10x10x10); requires solid, level floor
Power: three-prong outlet (standard 15A) (2)
Audio: any dual small speaker system
Network: any 5G wireless indpendent network
Safety Considerations: none
Setup Time: 30 to 60 mins
Capacity: 3 active participants
  
